.registerForm{

 display: flex;
    gap: 45px;
    color: black;
    width: 470px;
    margin-left: 650px;
    margin-top: -10px;
    border: 5px solid orangered;
    padding: 250px 30px 250px 30px;
    align-content: center;
    border-radius: 50px;
}

.image {
position:absolute;
width: 250px;
margin-top: -280px;
margin-left: 70px;

}
.welcome{
 position: absolute;
 text-align: center;
 font-size: 20px;
 font-weight: bold;
 margin-top: -100px;
 margin-left: 10px;
 
}
.enter{
position: absolute;
font-size: 20px;
text-align: center;
margin-top: -60px;
margin-left: 36px;

}

.registerSignUp {

  display: flex;
  flex-direction: column;
  gap: 15px;
    
    



}
.username{
    height: 60px;          
  padding: 0 12px;           
  border: 2px solid black; 
  width: 400px; 
   border-radius: 6px; 
  font-size: 20px;
  color: #000;




}
.email{
        height: 60px;          
  padding: 0 12px;           
  border: 2px solid black; 
  width: 400px; 
   border-radius: 6px; 
  font-size: 20px;
  color: #000;


}
.password{
    height: 60px;          
  padding: 0 12px;           
  border: 2px solid black; 
  width: 400px; 
   border-radius: 6px; 
  font-size: 20px;
  color: #000;

}
.confirmedpassword{
    height: 60px;          
  padding: 0 12px;           
  border: 2px solid black; 
  width: 400px; 
   border-radius: 6px; 
  font-size: 20px;
  color: #000;
  

}
.signUpButton{
      position: absolute;
     margin-top: 40px;
     height: 60px; 
     width: 400px;
     background-color: rgba(255, 68, 0, 0.884);
     font-weight: bold;
     color: white;
     border-color: aliceblue;
     

    transition: 
    background-color 0.3s ease,
    transform 0.2s ease,
    box-shadow 0.2s ease;   
}

.signUpButton:hover {
  background-color: rgba(255, 68, 0, 0.95);
  transform: translateY(-2px);
  box-shadow: 0 8px 20px white (255, 68, 0, 0.35);

}

.socialButton{
display: flex;
gap:10px;
position:absolute;
margin-top: 450px;
margin-left: -13px;


}
.googleButton{
background-color: white;
  border: 2px solid orangered;
  border-radius: 8px;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.googleButton:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
.facebookButton{
  background-color: white;
  border: 2px solid orangered;
  border-radius: 8px;
  transition: box-shadow 0.2s ease, transform 0.2s ease

}
.facebookButton:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
.googleIcon{

    margin-left: 70px;


}
.facebookIcon{

    margin-left: 70px;


}