
.image {
   position:absolute;
width: 250px;
margin-top: -280px;
margin-left: 70px;

}
.LoginWrapper{
    display: flex;
    gap: 45px;
    color: black;
    width: 470px;
    margin-left: 650px;
    margin-top: -50px;
    border: 5px solid orangered;
    padding: 300px 30px 250px 30px;
    align-content: center;
    border-radius: 50px;
    

  
    

}
.userNameInput{ 
  height: 60px;          
  padding: 0 12px;           
  border: 2px solid black; 
  width: 400px; 
   border-radius: 6px; 
  font-size: 20px;
  color: #000;
  
  
  
}
.passwordInput{
  height: 60px;              
  padding: 0 12px;          
   border: 2px solid black; 
 width: 400px;
  border-radius: 6px;
    font-size: 20px;
  color: #000;
  position: absolute;
  margin-top: 10px;
}
.loginButton{
     position: absolute;
     margin-top: 80px;
     height: 60px; 
     width: 400px;
     background-color: rgba(255, 68, 0, 0.884);
     font-weight: bold;
     color: white;
     border-color: aliceblue;

    transition: 
    background-color 0.3s ease,
    transform 0.2s ease,
    box-shadow 0.2s ease;


}
.loginButton:hover {
  background-color: rgba(255, 68, 0, 0.95);
  transform: translateY(-2px);
  box-shadow: 0 8px 20px white (255, 68, 0, 0.35);

}




.account{
    position: absolute;
    margin-top: 200px;

    
}
.signUpLink{
     position: absolute;
     margin-top: 200px;
     margin-left: 170px;

}
.welcome{
 position: absolute;
 text-align: center;
 font-size: 20px;
 font-weight: bold;
 margin-top: -100px;
 margin-left: 10px;
 
}
.enter{
position: absolute;
font-size: 20px;
text-align: center;
margin-top: -60px;
margin-left: 6px;

}